.intro__subtitle {
    margin: 0 auto 33px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
}

@media (min-width: 769px) and (max-width: 1024px) {
    .intro__subtitle {
        margin: 0 auto 56px;
    }
}

