.places {
    margin: 0 100px 92px;
    padding: 0;
    color: white;
}

@media (max-width: 1025px) {
    .places {
        margin: 0 48px 92px;
    }
}

@media (max-width: 769px) {
    .places {
        margin: 0 24px 90px;
    }
}

@media (max-width: 691px) {
    .places {
        margin: 0 auto 66px;
    }
}