.places {
    margin: 0 100px 92px;
    padding: 0;
    color: white;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .places {
        margin: 0 48px 92px;
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .places {
        margin: 0 24px 90px;
    }
}

@media (max-width: 425px) {
    .places {
        margin: 0 auto 66px;
    }
}