@font-face {
    font-family: 'Inter';
    src: url('./vendor/fonts/inter.css');
}

ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: #2A2C2F;
}

.page {
    max-width: 1280px;
    margin: 0px auto;
    padding: 0;
    font-family: 'Inter';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #2A2C2F;
}

.content {
    max-width: 1184px;
    margin: 0 auto;
    padding: 0;
}
/* ===============================HEADER================================================ */
.header {
    display: flex;
    justify-content: space-between;
    max-width: 1184px;
    margin: 28px auto 52px;
    padding: 0;
}

.header__logo-pic {
    margin: 0;
    padding: 0;
    max-width: 176px;
    max-height: 52px;
}

.header__menu {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-end;
}

.header__menu-items {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.header__menu-item {
    margin-right: 18px;
    padding: 0;
}

.header__menu-item:nth-last-child(1) {
    margin: 0;
}

.header__lang-link {
    margin: 0;
    padding: 0;
    color: white;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
}

.header__lang-link:hover {
    opacity: 0.8px;
    text-shadow: #FC0 1px 0 10px;
    transition: ease-in 0.1s;
}

.header__lang-link_ru {
    color: white;
    text-decoration: underline;
}
/* ===============================LEAD================================================ */

.lead {
    box-sizing: border-box;
    padding: 0;
    margin: 0px auto 92px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.lead__title {
    text-align: center;
    margin: 0 auto;
    padding: 0;
    max-width: 720px;
    padding-bottom: 32px;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
}

.lead__subtitle {
    text-align: center;
    max-width: 640px;
    margin: 0 auto 64px;
    padding: 0;
    padding-bottom: 64px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
}

.lead__container {
    margin: 0 auto;
    padding: 0;
}

.lead__image {
    margin: 0 auto 8px;
    padding: 0;
    max-width: 100%;
    max-height: 615px;
    object-fit: cover;
}

.lead__caption {
    padding: 0;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
}
/* ===============================INTRO================================================ */
.intro{
    max-width: 690px;
    margin: 0 0 92px;
    padding-left: 100px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 800px;
    box-sizing: border-box;
}

.intro__title {
    margin: 0;
    padding-bottom: 40px;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
}

.intro__subtitle {
    margin: 0;
    padding-bottom: 33px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
}

.intro__list {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
}

.intro__text {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
}

.intro__span-accent {
    font-weight: 600;
}
/* ===============================GRID================================================ */
.photo-grid {
    margin: 0px auto 92px;
    padding: 0;
    box-sizing: content-box;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
}

.photo-grid__item {
    max-width: 100%;
}

/* ===============================PLACES================================================ */
.places {
    margin-left: 0 auto 92px;
    padding-left: 100px;
    color: white;
}

.place {
    margin: 0px auto 80px;
    padding: 0;
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 48px 40px;
}

.place__title {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
}

.place__website {
    margin: 0;
    padding: 0;
    align-self: end;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.place__url-heading {
    margin-top: 12px;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #AAAAAA;
}

.place__link {
    color: white;
}

.place__image {
    margin: 0;
    padding: 0;
    max-width: 460px;
    max-height: 460px;
}

.place__text {
    max-width: 484px;
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
}

.place__paragraph {
    margin: 0;
    padding-bottom: 26px;
}

/* ===============================COVER================================================ */
.cover {
    max-width: 100%;
    padding: 0;
    margin: 0 auto 92px;
    background-color:rgba(0, 0, 0, .5);
}

.cover__overlay {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    min-height: 740px;
    text-decoration: none;
    position: relative;
    z-index: 1;
    background-image: url('./images/cover-trains.jpg');
    background-size: cover;
}

.cover__overlay::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2A2C2F;
    opacity: 0.3;
    transition: opacity 0.5s linear;
}

.cover__overlay:hover.cover__overlay:before {
    opacity: 0.8;
    transition: opacity 0.3s linear
}

.cover__title {
    padding: 0;
    z-index: 2;
    margin: 0 auto 32px;
    text-align: center;
    max-width: 560px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #FFFFFF;
}

.cover__subtitle {
    z-index: 2;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    max-width: 360px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}
/* ===============================FOOTER================================================ */
.footer {
    max-width: 1184px;
    margin: 0px auto 24px;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.footer__links {
    align-self: center;
    justify-self: center;
}

.footer__link {
    padding: 0;
    margin-right: 18px;
    color: white;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}

.footer__link:hover {
    opacity: 0.8px;
    text-shadow: #FC0 1px 0 10px;
    transition: ease-in 0.1s;
}

.footer__link:nth-last-child(1) {
    margin: 0;
}

.footer__copyright {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}