.place__image {
    max-width: 460px;
    box-sizing: border-box;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .place__image{
        max-width: 440px;
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .place__image{
        max-width: 340px;
    }
}

@media (max-width: 425px) {
    .place__image {
        max-width: 320px;
    }
}