.place__image {
    max-width: 460px;
    box-sizing: border-box;
}

@media (max-width: 1025px) {
    .place__image{
        max-width: 440px;
    }
}

@media (max-width: 769px) {
    .place__image{
        max-width: 340px;
    }
}

@media (max-width: 426px) {
    .place__image {
        max-width: 320px;
    }
}