.lead {
    max-width: 984px;
    box-sizing: border-box;
    padding: 0;
    margin: 0px auto 92px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .lead {
        width: calc(100% - 96px);
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .lead {
        margin: 0px auto 88px;
    }
}

@media (max-width: 425px) {
    .lead {
        margin: 0px auto 64px;
    }
}