.cover__subtitle {
    z-index: 2;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    max-width: 360px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

@media (min-width: 0px) and (max-width: 320px) {
    .cover__subtitle {
        font-style: 'Black';
        font-size: 14px;
        line-height: 16px;
    }
}