.header {
    box-sizing: content-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: calc(100% - 96px);
    margin: 28px auto 52px;
    padding: 0;
}

@media (max-width: 1025px) {
    .header {
        margin: 28px auto 48px;
    }
}

@media (max-width: 769px) {
    .header {
        max-width: calc(100% - 48px);
    }
}

@media (max-width: 691px) {
    .header {
        margin: 16px auto 48px;
        max-width: calc(100% - 32px);
    }
}