.header {
    box-sizing: content-box;
    display: flex;
    justify-content: space-between;
    align-content: center;
    max-width: 1184px;
    margin: 28px auto 52px;
    padding: 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .header {
        margin: 28px auto 48px;
        max-width: calc(100% - 96px);
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .header {
        margin: 28px auto 48px;
        max-width: calc(100% - 48px);
    }
}

@media (max-width: 425px) {
    .header {
        margin: 16px auto 48px;
        max-width: calc(100% - 32px);
    }
}