.content {
    max-width: 1184px;
    margin: 0 auto;
    padding: 0;
}

@media (max-width: 1025px) {
    .page {
        max-width: 1024px;
    }
}

@media (max-width: 769px) {
    .page {
        max-width: 768px;
    }
}

@media (max-width: 691px) {
    .page {
        max-width: 320px;
    }
}