.content {
    max-width: 1184px;
    margin: 0 auto;
    padding: 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .page {
        max-width: 1024px;
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .page {
        max-width: 768px;
    }
}

@media (max-width: 425px) {
    .page {
        max-width: 320px;
    }
}