.footer__link {
    padding: 0;
    margin: 0 18px 0 0;
    color: white;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}

.footer__link:hover {
    opacity: 0.8;
    text-shadow: #FC0 1px 0 10px;
    transition: ease-in 0.1s;
}

.footer__link:nth-last-child(1) {
    margin: 0;
}

@media (max-width: 691px) {
    .footer__link {
        display: flex;
        margin: 0 0 32px;
        font-size: 24px;
        line-height: 24px;
    }
}