.footer__copyright {
    margin: 0;
    padding: 0;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

@media (max-width: 425px) {
    .footer__copyright {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
    }
}