.intro {
    max-width: 690px;
    margin: 0 100px 92px;
    padding: 0;
    color: white;
}

@media (max-width: 1025px) {
    .intro {
        margin: 0 48px 92px;
    }
}


@media (max-width: 769px) {
    .intro {
        margin: 0 auto 88px;
        max-width: calc(100% - 48px);
    }
}

@media (max-width: 426px) {
    .intro {
        margin: 0 auto 64px;
        max-width: calc(100% - 32px);
    }
}