.cover {
    max-width: 100%;
    padding: 0;
    margin: 0 auto 92px;
    background-color:rgba(0, 0, 0, .5);
}

@media (min-width: 425px) and (max-width: 768px) {
    .cover {
        margin: 0 auto 88px;
    }
}

@media (max-width: 428px) {
    .cover {
        margin: 0 auto 64px;
    }
}