.cover__overlay {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    min-height: 740px;
    text-decoration: none;
    position: relative;
    z-index: 1;
    background-image: url('../../../images/cover-trains.jpg');
    background-size: cover;
    background-position: center;
}

.cover__overlay::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2A2C2F;
    opacity: 0.3;
    transition: opacity 0.5s linear;
}

.cover__overlay:hover.cover__overlay:before {
    opacity: 0.8;
    transition: opacity 0.3s linear;
}



@media (max-width: 1025px) {
    .cover__overlay {
        min-height: 640px;
    }
}

@media (max-width: 769px) {
    .cover__overlay {
        min-height: 480px;
    }
}

@media (max-width: 691px) {
    .cover__overlay {
        min-height: 200px;
    }
}