.lead__caption {
    padding: 0;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

@media (max-width: 769px) {
    .lead__caption {
        margin-left: 24px;
    }
}

@media (max-width: 426px) {
    .lead__caption {
        margin-left: 16px;
    }
}

