.lead__caption {
    padding: 0;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
}

@media (min-width: 321px) and (max-width: 768px) {
    .lead__caption {
        margin-left: 24px;
    }
}

@media (min-width: 0) and (max-width: 320px) {
    .lead__caption {
        margin-left: 16px;
    }
}

