.place {
    margin: 0px auto 80px;
    padding: 0;
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 48px 40px;
    color: white;
}

.place:nth-last-child(1) {
    margin: 0;
}

@media (max-width: 1023px) {
    .place {
        gap: 48px 32px;
        margin: 0 auto 80px;
    }
}

@media (max-width: 767px) {
    .place {
        margin: 0px auto 73px;
        gap: 48px 28px;      
    }
}

@media (max-width: 630px) {
    .place {
        margin: 0 auto 50px;
        grid-template-columns: 1fr;
        gap: 32px;
    }
}