.place {
    margin: 0px auto 80px;
    padding: 0;
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 48px 40px;
    color: white;
}

.place:nth-last-child(1) {
    margin: 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .place {
        grid-template-columns: min-content 1fr;
        gap: 48px 32px;
        margin: 0 auto;
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .place {
        margin: 0px auto 73px;
        gap: 48px 28px;
        grid-template-columns: minmax(320px, 1fr) minmax(353px, 1fr);       
    }
}

@media (max-width: 425px) {
    .place {
        margin: 0 auto 50px;
        grid-template-columns: 1fr;
        gap: 32px;
    }
}