.footer {
    max-width: calc(100% - 96px);
    margin: 0px auto 24px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
}

@media (max-width: 769px) {
    .footer {
        max-width: calc(100% - 48px);
    }    
}

@media (max-width: 426px) {
    .footer {
        flex-direction: column;
        align-content: flex-start;
        max-width: 186px;
        margin: 0 16px 24px;
    }
}