.footer {
    max-width: 1184px;
    margin: 0px auto 24px;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

@media (min-width: 769px) and (max-width: 1024px) {
    .footer {
        max-width: calc(100% - 96px);
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .footer {
        max-width: calc(100% - 48px);
    }
}

@media (max-width: 425px) {
    .footer {
        max-width: 186px;
        margin: 0 16px 24px;
        flex-direction: column;
    }
}