.place__url-heading {
    text-transform: uppercase;
    margin: 0 0 12px;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #AAAAAA;
}