.intro__title {
    margin: 0 0 40px;
    padding-bottom: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
}

@media (max-width: 426px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
    }
}